.wrapper{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
}
.footer{
  bottom:0px;
  width: 100%;
}
.description_paragraph {
  font-size: 14px;
}

.foto{
  border-radius: 50%;
}

.projects_body{
  padding: 1rem;
}


.overflow_img{
  height: 50%;
  overflow: hidden;
}

.zoom_img{
 transform: scale(1);
 transition: all 0.2s ease-in-out;
}

.zoom_img:hover{
  transform: scale(1.5);
}

.pointerItem:hover{
  cursor: pointer;
}




@media only screen and (max-width: 600px) {
  .header {
    height: auto;
  }
  .footer{
    height: auto;
  }
}
