.wrapper{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.header {
  height: 60px;
}

.description_paragraph {
  font-size: 14px;
}

.foto{
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .header {
    height: auto;
  }
}
